

<div class="row">
    <h2 align="center" class="bg-info">ALL PRODUCTS VIEW</h2>
    <div class="col-md-12">

        <table class="table table-bordered table-striped table-hover table-responsive ">
            <thead>
                <tr align="center" style="background-color:teal;color:white;font-weight:bold">
                    <td>Serial No</td>
                    <td>Product Name</td>
                    <td>Unit Price </td>
                    <td>Cost Price</td>
                    <td>Reorder Level</td>
                    <td>Image</td>
                    <td>Description</td>
                    <td>Option</td>
                </tr>
            </thead>
            <tbody id="ProductsDetailsTable">
                @*<tr>
                        <td id="serial_no">001</td>
                        <td id="product_name">Redmi Note 7 Pro</td>
                        <td id="product_code">897668M</td>
                        <td id="product_catagory">Mobile Phone</td>
                        <td id="reorder_level">25</td>
                        <td id="image"> X </td>
                        <td id="description"> Extreme Level demand</td>
                        <td align="center" id="options"></td>
                    </tr>*@

            </tbody>
        </table>

    </div>
</div>

<div id="testImage">
    
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/Essential/ProductScript.js"></script>
    <script src="~/Scripts/Essential/ProductViewLoader.js"></script>
}
