

<div class="row">
    <h2 align="center" class="bg-info">ALL PRODUCTS VIEW</h2>
    <div class="col-md-12">

        <table class="table table-bordered table-striped table-hover table-responsive ">
            <thead>
                <tr align="center" style="background-color:teal;color:white;font-weight:bold">
                    <td>Serial No</td>
                    <td>Product Name</td>
                    <td>Unit Price </td>
                    <td>Cost Price</td>
                    <td>Reorder Level</td>
                    <td>Image</td>
                    <td>Description</td>
                    <td>Option</td>
                </tr>
            </thead>
            <tbody id="ProductsDetailsTable">
            
                

            </tbody>
        </table>

    </div>
</div>

<div id="testImage">
    
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/Essential/ProductViewLoader.js"></script>
}
