
<hr />
<div class="row">
    <table class="table table-bordered table-striped table-responsive table-hover">
        <thead>
            <tr style="background-color:teal;color:white;font-weight:bold" align="center">
                <td>SL </td>
                <td> Name</td>
                <td> Contact</td>
                <td> Email</td>
                <td> Address</td>
                <td> Code</td>
                <td> Photo </td>
                <td> Options</td>
            </tr>
        </thead>
        <tbody id="SuplierDetailsTable"></tbody>
    </table>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>


    <script src="~/Scripts/Essential/SuplierViewLoader.js"></script>

}
